<div class="main-display">
    <div class="jumbotron text-center">
        <h1>Quotes</h1>
        <p class="text-center"> "A lion shall not lose sleep over the opinion of sheep." ~ B. Bryan</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <app-quotes-form (addQuote)='addAquote($event)'></app-quotes-form>
            </div>
            <div class="col-md-6">
                <div *ngFor='let quote of quotes; let i=index; let likeDislike of likeDislikes'>
                    <h3><strong> "{{ quote.quote }}"</strong></h3>
                    <h5> ~ {{ quote.author }}</h5>
                    <h6>Quoted: {{ quote.dateSaid | timeCount }}</h6>
                    <p>Submitted By: {{ quote.submittedBy }}</p>
                    <app-likes (deletingQuotes)='quotusDeletus($event,i)'></app-likes>
                </div>
            </div>
        </div>
    </div>
</div>
