/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
.jumbotron {
  background-color: transparent;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #393987;
  color: #fff;
}

.btn-space {
  margin-right: 15px;
}

.main-display {

  margin-bottom: 80px;
}

input{
  border-radius: 10px;
}
